.sch-group + .sch-group {
    margin-top: $wide-spacing * 2;
}

.sch-service-row {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: -1px;
    border-bottom: solid 1px #ddd;
    border-top: solid 1px #ddd;

    &:hover,
    &:active,
    &:focus {
        margin-left: -$basic-spacing;
        margin-right: -$basic-spacing;
        padding-left: $basic-spacing - 1px;
        padding-right: $basic-spacing - 1px;
        background: #eee;
        border: solid 1px #ddd;
    }
}

.sch-network-name {
    margin-top: $basic-spacing;
    margin-bottom: $basic-spacing;
}

.sch-service-name {
    padding-left: $wide-spacing;
}
