{% extends 'base_ds2013.html.twig' %}

{% block body %}
    {% include 'schedules/components/nav.html.twig' %}
    {% include 'schedules/components/regionpick.html.twig' with { 'services_in_network': services_in_network, 'service': service } only %}

    <ol class="list-unstyled g-c-l">
        {% for period_name, broadcast_in_period in grouped_broadcasts %}
            <li id="{{ period_name }}" class="schedule-skip-link">
                <h2 class="delta text--shout island--horizontal component">{{ period_name }}</h2>
                <ol class="highlight-box-wrapper">
                    {#list of broadcasts in day period#}
                    {% for broadcast in broadcast_in_period %}
                        <li {{ broadcast == on_air_broadcast ? 'id=on-now class=schedule-skip-link-on-now' : null }} >
                            {{ ds2013('broadcast', broadcast, {
                                'highlight_box_classes' : 'highlight-box--list'
                            }) }}
                        </li>
                    {% endfor %}
                </ol>
            </li>
        {% endfor %}
    </ol>

{% endblock %}


