{% extends 'schedules/base.twig' %}

{% block content %}
    <p class="noschedule">
        {% if page_presenter.service.startDate and page_presenter.startDate < page_presenter.service.startDate %}
            {{ tr('schedule_begins_on', {'%1':'<a href="' ~ path('schedules_by_day', {'pid': page_presenter.service.pid, 'date': page_presenter.service.startDate|date('Y-m-d')}) ~ '">' ~ page_presenter.service.startDate|date("l j F Y") ~ '</a>'})|raw }}
        {% elseif page_presenter.service.endDate and page_presenter.startDate > page_presenter.service.endDate %}
            {{ tr('schedule_ended_on',{'%1':'<a href="' ~ path('schedules_by_day', {'pid': page_presenter.service.pid, 'date': page_presenter.service.endDate|date('Y-m-d')}) ~ '">' ~ page_presenter.service.endDate|date("l j F Y") ~ '</a>'})|raw }}
        {% else %}
            {{ tr('schedules_no_result') }}
        {% endif %}
    </p>
{% endblock %}
