<div class="br-box-secondary" data-map-column="programme-info">
    {% if not programme_info.showMiniMap %}
        {{ ds_shared('image', programme_info.getProgrammeContainer().getImage(), programme_info.getDefaultImageSize(), programme_info.getImageSizes(), {'is_lazy_loaded': false}) }}
    {% endif %}
    <div class="island">
        <h1 class="invisible">{{ programme_info.getProgrammeContainer().getTitle() }}</h1>
        <meta property="image" content="{{ programme_info.getProgrammeContainer().getImage().getUrl(480,270) }}"/>
        {% if programme_info.getProgrammeContainer().getLongestSynopsis() %}
            <div class="gel-long-primer">
                {{ ds_shared('synopsis', programme_info.getProgrammeContainer().getSynopses(), 250) }}
            </div>
        {% endif %}
        {% if programme_info.getProgrammeContainer().isRadio() %}
            <div class="favourites-button buttons--favourites-small"></div>
        {% endif %}
    </div>
</div>
