<div class="br-box-secondary" data-map-column="promo-priority">
    <h1 class="invisible">{{ promo_priority.getProgrammeContainer().getTitle() }}</h1>
    {{ ds_amen('promotion', promo_priority.getPromotion(), {
        'branding_name' : 'secondary',
        'show_synopsis' : true,
        'related_links_count' : 2,
        'img_sizes' : promo_priority.getImageSizes(),
        'img_default_width' : promo_priority.getDefaultImageSize(),
        'img_is_lazy_loaded': false,
        'link_location_prefix' : 'promo_priority_',
        'cta_class' : 'cta br-box-secondary',
        'h_tag': 'h2'
    }) }}
    {% if promo_priority.getProgrammeContainer().isRadio() %}
        <div class="favourites-button-island">
            <div class="favourites-button buttons--favourites-small"></div>
        </div>
    {% endif %}
</div>
