<li class="segments-list__item segments-list__item--music {{ chapter.getOption('moreless_class') }}">
    <{{ chapter.getOption('h_tag') }} class="gamma no-margin">
        {{ chapter.getTitle() }}
    </{{ chapter.getOption('h_tag') }}>
    <p>Chapter Segment</p>
</li>
