<li class="segments-list__item segments-list__item--music {{ music.getOption('moreless_class') }}">
    <{{ music.getOption('h_tag') }} class="gamma no-margin">
        {{ music.getTitle() }}
    </{{ music.getOption('h_tag') }}>
    <p>Music Segment</p>
</li>
