<li class="segments-list__item segments-list__item--speech {{ speech.getOption('moreless_class') }}">
    <{{ speech.getOption('h_tag') }} class="gamma no-margin">
        {{ speech.getTitle() }}
    </{{ speech.getOption('h_tag') }}>
    <p>Speech Segment</p>
</li>
