<span class="{{ duration.getHeadingClass() }}">
    {{- tr(duration.getOption('h_title'), {'%1':''}) -}}
</span>

<span aria-label="{{ duration.getAriaLabel() }}" class="duration speak-duration">
    {{- duration.getFormattedDuration() -}}
</span>
