{% extends 'base_ds2013.html.twig' %}

{% block html_classes %}b-pw-1280{% endblock %}
{% block title %}BBC - Programmes{% endblock %}

{% block body %}
    <div class="br-box-page">
        <h1>It Lives!</h1>
        {{ ds2013('programme', programme, {
            'showSynopsis': true
        }) }}

        {{ dump(programme) }}
    </div>
{% endblock %}
