{% extends 'base_ds2013.html.twig' %}

{% block html_classes %}b-pw-1280{% endblock %}
{%- block title -%}
    {{ meta_context.titlePrefix }}
{%- endblock -%}

{% block body %}
    {# TODO Leaderboard Advert #}

    {# TODO BBC Live Promo #}

    {# TODO Priority Vote block #}

    {# Media Availability Panel #}

    <div class="b-g-p">
        <div class="leading-gap cf">
            {# TODO Priority text block #}

            {# TODO MPU Advert #}

            {# TODO Recipes block #}

            {# TODO Promos / Clips / Galleries list #}

            {# TODO Supporting Content blocks #}

            {# TODO Regular Vote block #}
        </div>
    </div>

{# TODO Related links block #}
{% endblock %}
