{% extends 'base_ds_amen.html.twig' %}

{% block html_classes %}b-pw-1280{% endblock %}
{% block page_classes %}programmes-page text-base programmes-page--flush{% endblock %}
{% block title %}{{ meta_context.titlePrefix() }}{% endblock %}
{% block adsToDisplay %}leaderboard mpu sponsor{% endblock %}

{% block body %}
    {# TODO Leaderboard Advert #}
    <div class="b-g-p">
        {{ advert('leaderboard', [1,2,3,4]) }}
    </div>

    {# TODO BBC Live Promo #}

    {# TODO Priority Vote block #}

    {% if mapPresenter.showMap() %}
        {{ ds_amen_presenter(mapPresenter) }}
    {% endif %}

    <div class="b-g-p">
        <div class="leading-gap cf">
            {# TODO Priority text block #}

            {# TODO MPU Advert #}

            {# TODO Recipes block #}

            {# TODO Promos / Clips / Galleries list #}

            {# TODO Supporting Content blocks #}

            {# TODO Regular Vote block #}
            {{ ds_amen('programme', programme)}}
        </div>
    </div>

{# TODO Related links block #}
{% endblock %}
