/**
 * Global Variables.
 *
 * Define any common variables here.
 */

$basic-spacing: 8px;
$basic-half-spacing: $basic-spacing / 2;

$wide-spacing: 16px;
$wide-half-spacing: $wide-spacing / 2;

/**
 * Reusable colours
 */

$iplayer-pink: #f54997;
$iplayer-grey: #262525;
