<div class="related-links__item 1/1 1/2@gel3 1/3@gel3b 1/4@gel5" data-object-type="related_link">
    <a class="gel-long-primer-bold" data-extlinktrack="relatedlink_external" data-linktrack="relatedlink_internal" href="{{ related_link.getLink() }}">{{ related_link.getTitle() }}</a>
</div>
{#- I am a comment with whitespace supression so a newline is not rendered at the end of this template -#}
