/**
 * Mixins
 *
 * Generic mixins that are required throughout the GEL codebase.
 */

@mixin mq-range($name, $aliases: $mq-aliases) {
    @if map-has-key($aliases, $name) {
       @include mq(map-get($aliases, $name)...) {
            @content;
        }
    } @else {
        @warn "Range '#{$name}' was not found in the list of defined ranges";
    }
}

@function gel-typography($block, $group, $value) {
    // lookups so we can pass in a text string and return a value
    $group-names: ('base': 1, 'alpha': 2, 'beta': 3, 'gamma': 4, 'delta': 5, 'centi': 6, 'milli': 7, 'micro': 8);
    $value-names: ('font-size': 1, 'line-height': 2);

    $group-offset: map-get($group-names, $group);
    $value-offset: map-get($value-names, $value);

    $current-block: map-get($gel-typography, $block);
    @return nth(nth($current-block, $group-offset), $value-offset);
}
