.playout {
    position: relative;
    background: #999999;
}

.playout__overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    z-index: 50;
}

button[disabled] .playout__cta {
    display: none;
}

.playout__cta {
    display: table;
    vertical-align: middle;
}

$size: 64px;

.playout__message {
    @extend .delta;

    text-align: center;
    background: #000000;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    letter-spacing: 0;
    font-weight: normal;
    margin: 0;
    padding: $basic-spacing;
    display: table;
    vertical-align: middle;
}

.playout__messagetext {
    display: table-cell;
    vertical-align: middle;
}

.playout__message--icon {
    height: $size - ($basic-spacing * 2);
}

.playout__icon {
    //box-sizing: border-box;
    display: block;
    width: $size - ($basic-spacing * 4);
    height: $size - ($basic-spacing * 4);
    float: left;
    margin-right: $basic-spacing;
    padding: $basic-spacing;
}


.playout__message--icon .playout__messagetext {
    max-width: 96px;
}

.playout__blocklink {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    outline: 0;
}

.playout__blocklink:not([disabled]):hover,
.playout__blocklink:not([disabled]):active,
.playout__blocklink:not([disabled]):focus {
    .playout__message {
        text-decoration: none;

        &.iplayer {
            background: $iplayer-pink !important; //pink is the brand colour
            color: #ffffff !important;
        }
    }
}

// bpw (larger icons)
@include mq-range('bpw') {
    $size: 80px;

    .playout__message {
        padding: $wide-spacing;
    }

    .playout__icon {
        width: $size - ($wide-spacing * 2) - $basic-spacing;
        height: $size - ($wide-spacing * 2) - $basic-spacing;
        margin-right: $wide-spacing;
        padding: $basic-half-spacing;
    }

    .playout__message--icon {
        height: $size - ($wide-spacing * 2);
    }

    .playout__messagetext {
        font-size: 1.4em;
        line-height: 1;
    }

    .playout__message--icon .playout__messagetext {
        max-width: 128px;
    }
}

// Continuous play stuff
.continuous__autoplay-toggle {
    padding: 8px 0 0;
    background: 0;
    border: 0;
    color: inherit;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
        outline: none;
    }
}

.continuous__stop {
    font-size: 20px;
    margin-top: 2px;
}
