.block-link {
    position: relative;

    a,
    abbr[title],
    .box-link__elevated {
        position: relative;
        z-index: 2;
    }
}

// If this box-link has child box-links then steal the positioning context
// from them so that their box-link covers the entire page
.block-link--steal .block-link {
    position: static;
}

// we need a higher specificity than .box-link a
.block-link__target.block-link__target,
.block-link .block-link__target--conditional.block-link__target--conditional {
    position: static;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        white-space: nowrap;
        outline: 0;
        z-index: 1;

        // fix for IE not allowing empty clickable elements
        // must NOT be converted to "transparent" by sass
        background: unquote('rgba(0,0,0,0)');

        // fix for high contrast mode making all backgrounds solid black
        opacity: 0;
    }
}

.block-link__overlay-link {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0); // IE9 fix
}

// Increased specificity so it trumps ".block-link a"
a.block-link__overlay-link {
    position: absolute;
    z-index: 0;
    // this line is needed as all elements have a solid black
    // background in high contrast mode
    opacity: 0;
}
