/build/
/node_modules/
/web/assets/
/web/xhprof
/composer.phar
/assets/gelicons/
/script/fixture.ini
yarn-error.log

###> symfony/framework-bundle ###
config/parameters.yaml
/web/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
