includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    ignoreErrors:
        - '#Call to an undefined method DateTimeImmutable::\w*\(\).#'
        - '#Access to an undefined property Cake\\Chronos\\ChronosInterface::\$month.#' # https://github.com/cakephp/chronos/issues/151
        - '#Access to an undefined property Cake\\Chronos\\ChronosInterface::\$year.#'
        - '#Method [\w\\]*\w::\w*\(\) should return Cake\\Chronos\\Chronos(\|null)? but returns DateTimeImmutable(\|null)?.#'
        - '#Method App\\DsAmen\\Organism\\Map\\SubPresenter\\OnDemandPresenter::getUpcomingEpisode\(\) should return BBC\\ProgrammesPagesService\\Domain\\Entity\\Episode|null but returns BBC\\ProgrammesPagesService\\Domain\\Entity\\ProgrammeItem.#'
        - '#Property App\\Ds2013\\Presenters\\Pages\\Schedules\\ByWeekPage\\SchedulesByWeekPagePresenter::\$now \(Cake\\Chronos\\Chronos\) does not accept DateTimeImmutable.#'
        - '#Call to an undefined method DateTimeInterface::setTimezone\(\).#'
        - '#RedisCluster#' #PHPStan does not play well with RedisCluster it seems
        - '#Call to an undefined method Doctrine\\DBAL\\Driver\\Connection::isConnected\(\)#'
        - '#Call to an undefined method BBC\\ProgrammesPagesService\\Domain\\Entity\\CoreEntity::getDuration()#'
        - '#Call to an undefined method Tests\\App\\Translate\\TranslatableTraitTest::tr().#'
        - '#Call to an undefined method Tests\\App\\Translate\\TranslatableTraitTest::localDateIntl().#'
        - '#expects Cake\\Chronos\\(Chronos|ChronosInterface), DateTimeImmutable given.#' #Clifton use Datatimeimutable while programmes-frontend uses Chronos but they are typehinted as Datatimeimutable
        - '#class Cake\\Chronos\\(Chronos|Date) constructor expects string|null, DateTimeImmutable given.#' #Clifton use Datatimeimutable while programmes-frontend uses Chronos but they are typehinted as Datatimeimutable
