{% extends "@Ds2013/Molecule/DateList/date_list_item.html.twig" %}

{%- block date_lines -%}
    <span class="date-list__item-line2">
        {{ date_list_item.datetime|local_date('Y') }}
    </span>
    <span class="date-list__item-line1">
        &nbsp;
    </span>
{% endblock %}
