/**
 * Typography
 *
 * Standard typography for headings and basic responsive font sizing.
 */

// Resets
p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

blockquote {
    margin-top: 0;
    margin-bottom: 0;
}

// Define extends for typography at each GEL breakpoint
@import 'typography-generic';

p,
ul,
ol,
blockquote,
table {
    @extend %margin-bottom-1blh;
}

hr {
    @extend %hr;
}

h1 {
    @extend .alpha;
}

h2 {
    @extend .beta;
}

h3 {
    @extend .gamma;
}

h4 {
    @extend .delta;
}

h5,
h6 {
    @extend %margin-bottom-1blh;
}

menu,
ol,
ul {
    padding-left: 0;
    list-style-position: inside;
}

ul {
    list-style-type: square;
}

// Additional typographic helpers
.micro {
    text-transform: uppercase;
}

.deemphasize {
    font-weight: normal;
    text-decoration: none;
}

a.deemphasize,
.programmes-page a.deemphasize {
    font-weight: normal;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

// For blockquotes
.full-quote {
    margin-left: 0;
    margin-right: 0;
}
