.calendar-table {
    width: 100%;
    text-align: center;
    margin-bottom: $basic-spacing;

    caption {
        font-weight: bold;
        padding: $basic-spacing 0;
    }

    thead {
        font-weight: bold;
        text-transform: uppercase;
    }
    td {
        width: percentage(1/7);
        border-width: 1px;
        border-style: solid;
    }
}

@include mq-range('bpw') {
    .calendar-table {
        margin-bottom: $wide-spacing;
    }
}
