/**
 * Generic Mixins.
 *
 * Define any generic mixins here. Don't forget to check if Inuit or Compass
 * already provide a suitable mixin before writing, to save duplicating effort.
 */


/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 *
 * This is a mixin rather than an extend because we need to toggle visibility
 * within breakpoints which we would be unable to do as you can not call @extend
 * on an element outside a @media block from within a @media block.
 */
@mixin visually-hidden() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    //margin: -1px; - why overwrite margins. position: absolute covers it?
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin undo-visually-hidden() {
    position: static;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
    //margin: 0; - this ruins previous settings
}

@mixin inline-block() {
    display: inline-block;

    // IE7 fixes
    *display: inline;
    *vertical-align: auto;
    zoom: 1;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
       -moz-transform: $transform;
        -ms-transform: $transform;
         -o-transform: $transform;
            transform: $transform;
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
     -moz-transition-delay: $transition-delay;
       -o-transition-delay: $transition-delay;
          transition-delay: $transition-delay;
}
