/**
 * Classes specific to a collapsed broadcast object
 */

.actions-wrapper {
    display: inline-block;
    display: inline-flex;
    flex-wrap: wrap;

    .gelicon {
        min-width: 44px;
    }

    .icon-link {
        flex: 1 1 140px; // This fixes some bugs in IE11 and iOS Safari 9
    }

    .actions-wrapper__item + .actions-wrapper__item {
        margin-top: $gel-unit-small;
        margin-left: 0;
    }
}

.media__details {
    &[data-eq-state$='actions-nowrap'] {
        .actions-wrapper {
            flex-wrap: nowrap;

            .actions-wrapper__item + .actions-wrapper__item {
                margin-top: 0;
                margin-left: $gel-unit-large;
            }
        }
    }
}
