{% extends 'styleguide/ds2013/base.html.twig' %}

{% block section_name %}Prose{% endblock %}

{% block content %}
<div class="programmes-page">
    <div class="component__header br-box-page">
        <h2>Title, sed do eiusmod tempor</h2>
    </div>
    <div class="component__body br-box-page">
        <div class="text--prose">
            <div class="one-half@bpw pull--right-spaced@bpw">
                <div class="component"> <img alt="" class="rsp-img" src="https://ichef.bbci.co.uk/images/ic/480xn/p021lltj.jpg"> </div>
            </div>
            <ol start="8">
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</li>
                <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
            </ol>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</li>
                <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
            </ul>
            <p> Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat </p>
        </div>
    </div>
</div>


<div class="programmes-page">
    <div class="component__header br-box-page">
        <h2>Title, sed do eiusmod tempor</h2>
    </div>
    <div class="component__body br-box-page">
        <div class="text--prose">
            <div class="one-half@bpw pull--left-spaced@bpw">
                <div class="component"> <img alt="" class="rsp-img" src="https://ichef.bbci.co.uk/images/ic/480xn/p021lltj.jpg"> </div>
            </div>
            <ol start="8">
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</li>
                <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
            </ol>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</li>
                <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
            </ul>
            <p> <em>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga</em> </p>
        </div>
    </div>
</div>



{% endblock %}
