# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     $database_name
    database_user:     $database_user
    database_password: $database_password
    database_server_version: 5.6

    # A secret key that's used to generate certain security-related tokens
    secret:            $secret

    cosmos_environment: $cosmos_environment
    cosmos_component_release: $cosmos_component_release

    # cache_adapter and cache_provider have to be set as parameters rather than being defined in config.yml as builds on jenkins call as
    # cache clear which then attempts to access a redis service that does not exist and then errors happen.
    #
    # you may want to use one of the listed providers:
    # - "cache.default_redis_provider". use this one for redis
    # - "cache.null_provider". use this one for null adapter
    cache_provider: cache.default_redis_provider

    redis_endpoint: $redis_endpoint

    fixture_database_host: $fixture_database_host
    fixture_database_port: 3306
    fixture_database_name: $fixture_database_name
    scenario_database_name: $scenario_database_name
    fixture_database_user: $fixture_database_user
    fixture_database_password: $fixture_database_password
    fixture_secure_key: $fixture_secure_key
    receng_video_key: $receng_video_key
    receng_audio_key: $receng_audio_key
