/**
 * Main
 */
// sass-lint:disable no-vendor-prefixes
@-ms-viewport {
    width: device-width;
}

html {
    overflow-y: scroll;
    min-height: 100%;
    -webkit-font-smoothing: antialiased; // sass-lint:disable no-vendor-prefixes
    -moz-osx-font-smoothing: grayscale; // sass-lint:disable no-vendor-prefixes
}

abbr[title] {
    border-bottom: 0;
}

.programmes-page a {
    text-decoration: none;
    font-weight: bold;

}

.programmes-page a:hover,
.programmes-page a:active,
.programmes-page a:focus {
    text-decoration: underline;
}

.programmes-page {
    padding-top: $basic-spacing;
    padding-bottom: $basic-spacing;

    @include mq-range('bp2') {
        padding-top: $wide-spacing;
        padding-bottom: $wide-spacing;
    }

    @include mq-range('bpw') {
        padding-top: $wide-spacing;
        padding-bottom: $wide-spacing;
    }
}

.programmes-page--stripe {
    padding-bottom: 0.1px; // hack to keep margins inside stripe
}

@include mq-range('bpw') {
    .programmes-page--topboxed {
        padding-top: $wide-spacing;
    }
}

.programmes-page--inset,
.inset {
    padding-left: 8px;
    padding-right: 8px;
}

.programmes-page--flush {
    padding-top: 0;
    padding-bottom: 0;
}

.programmes-page--clear {
    background: transparent;
}

.programmes-page--smallpush {
    padding-top: 2px;
    padding-bottom: 0;
}

// grid full limited (will match the width of the page)
.g-f-l {
    max-width: 976px + 16px + 16px;
    margin-left: auto;
    margin-right: auto;
}

// grid orb limited (will match the width of orb content)
.g-o-l {
    max-width: 976px;
    margin-left: auto;
    margin-right: auto;
}

// grid column limited (limits single column pages to not be too wide)
.g-c-l {
    max-width: 752px;
    margin-left: auto;
    margin-right: auto;
}

// handle titles
.context {
    display: block;
    font-size: mq-px2em(12px, gel-typography('basic', 'base', 'font-size'));
}

.context__item:first-child {
    @extend .visually-hidden;
}

.pull-out {
    margin-left: -$basic-spacing;
    margin-right: -$basic-spacing;
}

@include mq-range('bpw') {
    .programmes-page--inset,
    .inset {
        padding-left: 16px;
        padding-right: 16px;
    }

    .pull-out {
        margin-left: -$wide-spacing;
        margin-right: -$wide-spacing;
    }
}

// windows phone app. hide some things
.radio-windowsphone8 {
    .favourites-module-wrapper,
    .s-b-container,
    .map__buttons {
        display: none;
    }
}

.text-break-hyphens {
    hyphens: auto;
    word-wrap: break-word;
}
