<div class="supporting-content br-box-secondary br-secondary-link media media--column media--card media--row@gel2b">
    <div class="media__body {{ supporting_content.showImage ? '1/2@gel2b' : '' }}">
        <div class="text--prose media__details">
            <h4 class="gel-pica-bold br-secondary-text-ontext">{{ supporting_content.getSupportingContent().getTitle() }}</h4>
            {{ supporting_content.getSupportingContent().getHtmlContent() | raw }}
        </div>
    </div>
    {%- if supporting_content.showImage() -%}
        <div class="media__panel 1/2@gel2b br-box-subtle">
            {{- ds_shared('image', supporting_content.getSupportingContent().getImage(), 336, { 0: 1/2, 1280: 1/4 }, {'is_lazy_loaded': false, ratio: null}) -}}
        </div>
    {%- endif -%}
</div>
