{% extends 'schedules/by_base.html.twig' %}

{% block date %}{{ start_of_year|local_date('Y') }}{% endblock %}

{%- block date_nav -%}
    <nav class="schedule-nav-wrapper">
        <div id="schedule-yearnav" class="centi br-box-highlight g-f-l">
            {{ ds2013('dateList', start_of_year, service, {'format': 'year'}) }}
        </div>
    </nav>
{%- endblock -%}

{%- block schedule -%}
    <div class="b-g-p br-box-page island--vertical">
        {%- if (service.getStartDate() and service.getStartDate() > start_of_year.endOfYear()) or (service.getEndDate() and service.getEndDate() < start_of_year) -%}
            {{ ds2013('noSchedule', service, start_of_year, start_of_year.endOfYear()) }}
        {% else %}
            <div class="grid-wrapper">
                {%- for offset in 0..11 -%}
                    {% set first_of_month = start_of_year.addMonths(offset) %}
                    <div class="grid 1/2@bpw 1/3@bpw2 1/3@bpe">
                        {{ ds2013('calendar', first_of_month, service) }}
                    </div>
                {%- endfor -%}
            </div>
        {% endif %}
    </div>
{%- endblock -%}
