{% if programme_overlay.getOption('show_image') or programme_overlay.getOption('show_overlay') %}
    {% set outer_div_classes = build_css_classes({
        'programme__img' : true,
        (programme_overlay.getOption('classes')): true,
        'programme__img--available' : programme_overlay.isAvailable(),
        'programme__img--hasimage' : true,
        'programme__img--standalone-cta' : programme_overlay.getOption('show_standalone_cta'),
    }) %}

    <div class="{{ outer_div_classes }}">
        {% if programme_overlay.getOption('show_image') %}
            {{ ds_shared('imageEntity', programme_overlay.getImage(), programme_overlay.getOption('default_width'), programme_overlay.getOption('sizes'), {
                'is_lazy_loaded' : programme_overlay.getOption('is_lazy_loaded'),
                'ratio': (16 / 9)
            })}}
        {% endif %}

        {% block overlay %}
            {# This block is overriden (and called directly) from CollapsedBroadcastProgrammeOverlayPresenter #}
            {% if programme_overlay.getOption('show_overlay') and not programme_overlay.isContainer() and programme_overlay.isAvailable() %}
                {{ ds2013('cta',
                    programme_overlay.getProgramme(),
                    {
                        'is_overlay': not programme_overlay.getOption('show_standalone_cta'),
                        'data_link_track': programme_overlay.getOption('cta_link_location_track')
                    }) }}
            {% endif %}
        {% endblock %}
    </div>
{% endif %}
