/**
 * Component listing.
 *
 * This listing is common across the standard and ie-specific stylesheets
 * so abstract it
 */

// NEVER PUT ANY AMEN OBJECTS IN HERE

// Variables come first, as these are referenced in Libraries
@import 'Css/Core/Generic/variables';
@import 'Css/Core/Gel/Generic/variables';

// Libraries - MQ, Normalize v1 and GEL
@import 'sass-mq/mq';
@import 'Css/Core/Vendor/normalize';
@import 'Css/Core/Gel/gel';

// Generics - common variables, mixins and helpers
@import 'Css/Core/Generic/functions';
@import 'Css/Core/Generic/mixins';
@import 'Css/Core/Generic/extends';
@import 'Css/Core/Generic/extends_classes';

// Base - common styles including typography
@import 'Css/Core/Base/main';
@import 'Css/Core/Base/prog-layout';

// Objects - Reusable abstractions
// TODO these objects should be split into Atoms, Molecules, Organisms and
// Templates following the Atomic Design principles.
// This design system was created before we adopted atomic design and the
// process of storing html templates and scss in the same location. At part of
// the move to the new world we should opt into using these utilities as and
// when we require them, and place them in a relevant folder structure.
//
// These are batched into groups based on how 'core' they are, for instance the
// the programme object uses the media object for some of it's layout so media
// should come before programme. Highlight box is used in conjunction with
// programme and should take prescience when applying styling so it should come
// after programme.

@import 'Css/Components/columns';
@import 'Css/Components/component';
@import 'Css/Components/island';

// Core objects
@import 'Css/Components/advert';
@import 'Css/Components/buttons';
@import 'Css/Components/clip-panel';
@import 'Css/Components/media';
@import 'Css/Components/link-complex';
@import 'Css/Components/nav';
@import 'Css/Components/timebar';
@import 'Css/Components/dropdown';
@import 'Css/Components/moreless';
@import 'Css/Components/popup';
@import 'Css/Components/table';

// @import 'objects/programme';
@import 'Presenters/Domain/Broadcast/broadcast';
@import 'Presenters/Domain/BroadcastEvent/broadcast-event';
@import 'Presenters/Domain/Promotion/promotion';
@import 'Presenters/Domain/Recipe/recipe';
@import 'Presenters/Domain/CoreEntity/Programme/programme';
@import 'Presenters/Domain/Superpromo/superpromo';

@import 'Presenters/Utilities/DateList/date-list';
@import 'Css/Components/icon-box';
// @import 'objects/iplayer-icon';
// @import 'objects/letters';
// @import 'objects/pagination';
@import 'Css/Components/moreless';

// These items are meant to be used in conjunction with objects higher up.
// Thus they should sit at the bottom to ensure their styles win in the cascade.
@import 'Css/Components/box-link';
@import 'Presenters/Utilities/block-link';
@import 'Presenters/Utilities/Cta/cta';
@import 'Presenters/Utilities/lazyload';
@import 'Presenters/Utilities/Paginator/paginator';
// @import 'objects/broadcast-event';
// @import 'objects/stream';
@import 'Css/Components/feature';
@import 'Presenters/Utilities/Calendar/calendar-table';
// @import 'objects/contact-detail';
@import 'Presenters/Utilities/highlight-box';
@import 'Presenters/Utilities/Download/download';
@import '../DsShared/Utilities/Image/image';
@import '../DsShared/Utilities/Synopsis/synopsis';

// @import 'objects/lazylink';
@import 'Presenters/Section/Episode/Map/Panels/Main/playout';
@import 'Presenters/Section/Episode/Map/episode-map';
@import 'Presenters/Section/Segments/segments-list';
@import 'Presenters/Section/Segments/SegmentItem/segment';
// @import 'objects/segment';
// @import 'objects/timebar';
// @import 'objects/form';
// @import 'objects/third-party';
// @import 'objects/popup';
// @import 'objects/related-links-primary';

// Helpers
@import 'Css/Core/Helpers/js';

// Modules
// @import 'modules/shared/buy-online-module';
// @import 'modules/shared/advert';
// @import 'modules/shared/buttons';
// @import 'modules/categories/navigation';
// @import 'modules/atoz/atoz-grid';
// @import 'modules/atoz/atoz-loader';
// @import 'modules/atoz/navigation';
@import 'Css/PageSpecfic/home';
@import 'Css/PageSpecfic/Atoz/search';
@import 'Css/PageSpecfic/Profiles/clipstream';
// @import 'modules/clips/clips-grid';
@import 'Css/PageSpecfic/Schedules/week-guide';
@import 'Css/PageSpecfic/Schedules/tv-channels';
@import 'Css/PageSpecfic/Schedules/fixed-nav';
@import 'Css/PageSpecfic/Schedules/heading-links';
@import 'Css/PageSpecfic/Schedules/lazyload';
@import 'Presenters/Section/Footer/footer';
@import 'Presenters/Section/RelatedTopics/related_topics';
// @import 'modules/programmes/episode-panel';
// @import 'modules/programmes/clip-panel';
// @import 'modules/programmes/related-topics';
// @import 'modules/galleries/gallery';
// @import 'modules/programmes/recipes';

// Page - Page specific overrides, when modules don't fit
@import 'Presenters/Pages/EpisodeGuideList/episode_guide';
@import 'Presenters/Pages/Schedules/schedules-home';

@import 'Presenters/Domain/ContentBlock/ThirdParty/third-party';
