<div class="b-g-p no-margin-vertical islet--vertical br-box-highlight br-highlight-bg-onbg080{{ service_is_tv ? ' visually-hidden' }}" id="schedule-header">
    <div class="b-g-p no-margin-vertical islet--vertical br-box-highlight br-highlight-bg-onbg080 visually-hidden" id="schedule-header">
    <h1>
        <span class="visually-hidden">
            <span class="outlet">
                {{ tr('schedule_title', {'%1':service.name}) }}
            </span>
        </span>
        <time class="date">
            {#@TODO deal with international services always showing UTC rather than using GMT/BST ?#}
            {{ date.format('l j F Y') }}
        </time>
    </h1>
</div>
<div class="schedule-nav-wrapper fixedsticky">
    <div id="schedule-daynav" class="centi br-box-highlight {{ service_is_tv ? 'g-o-l daynav--tvschedule' : 'g-f-l' }}">
        {#@TODO PUT DAYNAV HERE#}
    </div>
</div>
