/**
 * Pagination
 *
 * A list of page links with next and previous arrows.
 *
 * By default it hides all but the next and previous arrows and text, showing
 * more pages as the viewport size increases.
 */

.pagination {
    margin-bottom: $basic-spacing;

    // Nested in a .pagination class to trump the "nav > li" styles
    .pagination__page,
    .pagination__spacer,
    .pagination__spacer--hidden {
        display: none;
        margin: 0 1px;
        text-align: center;
    }
}

.pagination a:hover,
.pagination a:active,
.pagination a:focus {
    text-decoration: none;
}

.pagination__next {
    // -1px on the margin-left to account for the adjacent page / spacer margin
    margin: 0 $basic-spacing 0 ($basic-spacing - 1px);
}

.pagination__previous {
    // -1px on the margin-right to account for the adjacent page / spacer margin
    margin: 0 ($basic-spacing - 1px) 0 $basic-spacing;
}

.pagination__page a,
.pagination__page span,
.pagination__spacer span,
.pagination__spacer--hidden span {
    display: block;
    width: mq-px2em(35px, 14px);
    padding: mq-px2em(10px, 14px) 0;
}

.pagination__page--disabled {
    opacity: 0.8;
}

svg.pagination__next-previous {
    width: 14px;
    height: 16px;
    vertical-align: text-top;
}

// TODO use bespoke breakpoint for this
@include mq-range('bpb1') {
    // Show the first, last and current pages
    // Nested in a .pagination class to trump the "nav > li" styles
    .pagination {
        .pagination__page--first,
        .pagination__page--last,
        .pagination__page--current,
        .pagination__page--nohide,
        .pagination__spacer--hidden,
        .pagination__spacer {
            display: inline-block;
        }
    }

    // Hide the next/previous text, so only the arrow is displayed
    .pagination__next span,
    .pagination__previous span {
        @include visually-hidden();
    }
}

// TODO use bespoke breakpoint for this
@include mq-range('bpb2') {
    // Show two pages either side of the current page
    .pagination {
        .pagination__page--first,
        .pagination__page--last,
        .pagination__page--current,
        .pagination__spacer,
        .pagination__spacer--hidden,
        .pagination__page--nohide,
        .pagination__page--offset1,
        .pagination__page--offset2 {
            @include gel-font-size(15px, 15px);
        }

        .pagination__page--offset1,
        .pagination__page--offset2,
        .pagination__page--nohide {
            display: inline-block;
        }
    }
}

@include mq-range('bpw') {
    .pagination {
        margin-bottom: $wide-spacing;

        // Show the first, last and current pages
        // Show two pages either side of the current page
        .pagination__page--first,
        .pagination__page--last,
        .pagination__page--current,
        .pagination__spacer,
        .pagination__page--nohide,
        .pagination__page--offset1,
        .pagination__page--offset2 {
            display: inline-block;
        }
    }
}

@include mq-range('bpw1') {
    .pagination {
        .pagination__spacer--hidden {
            display: inline-block;
        }
    }
}

@include mq($from: 'gel3', $until: 'gel3b') {
    // Hide the next/previous text, so only the arrow is displayed
    .pagination__next span,
    .pagination__previous span {
        @include visually-hidden();
    }
}

@include mq-range('bpe') {
    // Show all pages by default
    // Nested in a .pagination class to trump the "nav > li" styles
    .pagination {
        .pagination__page,
        .pagination__spacer {
            display: inline-block;
        }
    }
}
