<ul class="no-margin-vertical list-spaced">
    {%- for link in relatedLinks -%}
        <li>
            <a href="{{ link.getUri() }}">{{ link.getTitle() }}</a>
            {%- if link.isExternal() %} <span class="milli">({{ link.getHost() }})</span>{% endif -%}
        </li>
    {%- endfor -%}
</ul>
