<div class="component component--box component--box-flushbody-vertical component--box--primary component--feature">
    <div class="component__header br-box-page">
        <h2>{{ supporting_content.getItem().getTitle() }}</h2>
    </div>
    <div class="component__body br-box-page">
        <div class="feature br-keyline">
            {% if supporting_content.getItem().getImage() %}
                <div class="feature__img 13/24">
                    {{ ds_shared('image', supporting_content.getItem().getImage(), 160, {0: 1/2, 770: 1/4, 1008: '266px'}, {'alt': supporting_content.getItem().getTitle()}) }}
                </div>
            {% endif %}
            <div class="feature__description centi">
                {{ supporting_content.getItem().getHtmlContent()|raw }}
            </div>
        </div>
    </div>
</div>
