.lazy-module.lazy-module--error {
    display: none;
}

.lazy-module--loading--loader {

    &.lazy-module--loading {
        position: relative;
    }

    &.lazy-module--loading::after {
        content: '';
        background: image-url('loading.gif') center center no-repeat;
        background-color: rgba(0, 0 , 0, 0.5);
        position: absolute;
        margin-left: $gel-unit-large;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
    }
}
