.map__buttons {
    vertical-align: middle;
    margin-right: 11px; // due to weird paddings etc
}

@include mq-range('bpw') {
    .map--count-2 {
        overflow: hidden;
    }

    .map__column {
        margin-top: $basic-spacing / 4;
    }

    .map__column--first .map__inner {
        margin-right: $basic-spacing / 8;
    }

    .map__column--2 .map__inner {
        margin-left: $basic-spacing / 8;
    }

    .map--episode {
        .map__column {
            margin-top: $basic-spacing;
        }
    }
}

@mixin episode-map-column($portion) {
    .map--episode {
        .map__column {
            // cancel padding-left from .grid
            padding-left: 0;
            margin-top: $basic-spacing / $portion;
        }
    }
}

@include episode-map-column(1);

@include mq-range('bpw2') {
    @include episode-map-column(4);
}

@include mq-range('bpe') {
    @include episode-map-column(4);
}

