<div class="vote__noscript-container">
    <noscript class="gel-body-content">
        This vote does not support non-JavaScript. Please enable JavaScript in
        your browser and refresh the page in order to vote.
        <a href="https://www.bbc.co.uk/iplayer/help/enable_javascript">Find out how.</a>
    </noscript>
</div>
<div id="{{ container_html_id }}"></div>
