/**
 * Barlesque Helpers.
 *
 * Legacy helpers, in place to ensure to ensure some legacy 3rd party elements
 * that don't support ORB just yet don't look too funky while we wait for them
 * to update.
 *
 * Once all 3rd party dependencies have been updated to support ORB this should
 * be removed.
 *
 * * Radio navigation
 * * TV navigation
 */

.blq-hide {
    position: absolute;
    left: -2500px;
    width: 1px;
    overflow: hidden;
}

.blq-clearfix {
    _height: 1%;
}

.blq-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
