{% extends "@Ds2013/Presenters/Domain/ContentBlock/content_block.html.twig" %}

{% block blockContent %}
    {{ ds_shared('image', content_block.getBlock().getImageUrl(), 256, {0: 1, 770: 1/2, 1008: '490px'}, {'is_lazy_loaded': false}) }}
    <div class="centi island--vertical">{{ content_block.getBlock().getCaption() }}</div>
{% endblock %}
