{% extends 'styleguide/ds2013/base.html.twig' %}

{% block section_name %}Intro{% endblock %}

{% block content %}
    <p>This is the /programmes styleguide. It details the components that build Programme pages. It makes use of the
        responsive version of the BBC header/footer known as ORB.</p>

    <p>All components follow a mobile first, content driven approach. Everything is intended to be touch friendly with
        large hit areas (where feasible).</p>

    <p>The /programmes application is built using SCSS to create modular components with BEM syntax. These
    components are generic enough to be reusable. This does result in</p>

    <p>This is the /programmes Ds2013 styleguide. It details the components that build Ds2013-based /programmes pages.</p>
    <h3>Browser support</h3>
    <p> These are the browsers we support as of 2018:</p>
    <ul>
        <li>
            Chrome (latest 10 versions)
        </li>
        <li>
            Firefox (latest)
        </li>
        <li>
            Safari (latest 5 versions)
        </li>
        <li>
            Edge (latest)
        </li>
        <li>
            Internet Explorer 11 (until January 2020)
        </li>
        <li>
            iOS Safari
        </li>
        <li>
            Chrome Mobile
        </li>
    </ul>

{% endblock %}
