{% extends 'styleguide/ds2013/base.html.twig' %}

{% block section_name %}Intro{% endblock %}

{% block content %}
<p>This is the /programmes Ds2013 styleguide. It details the components that build Ds2013-based /programmes pages.</p>
{% endblock %}
