{% extends 'styleguide/ds2013/base.html.twig' %}

{% block section_name %}Intro{% endblock %}

{% block content %}
    <p>This is the /programmes styleguide. It details the components that build Programme pages. It makes use of the
        responsive version of the BBC header/footer known as ORB.</p>

    <p>All components follow a mobile first, content driven approach. Everything is intended to be touch friendly with
        large hit areas (where feasible).</p>

    <p>The /programmes application is built using
        <a href="http://sass-lang.com/">SCSS</a> to create modular components with
        <a href ="https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/">BEM</a> syntax. These
    components are generic enough to be reusable.</p>

    <p>This is the /programmes Ds2013 styleguide. It details the components that build Ds2013-based /programmes pages.</p>
    <h3>Browser support</h3>
    <p> These are the browsers we support as of 2018:</p>
    <ul>
        <li>
            Chrome (latest 10 versions)
        </li>
        <li>
            Firefox (latest)
        </li>
        <li>
            Safari (latest 5 versions)
        </li>
        <li>
            Edge (latest)
        </li>
        <li>
            Internet Explorer 11 (until January 2020)
        </li>
        <li>
            iOS Safari
        </li>
        <li>
            Chrome Mobile
        </li>
    </ul>
    <p>However the pages are built with progressive enhancement in mind, so older browsers (such as Internet Explorer 7
        and feature phones) should still have access to the content. It just may not look as good as using the latest
        browser, and there will be some layout issues.</p>

{% endblock %}
