/**
 * Mixins
 *
 * Generic mixins that are required throughout the GEL codebase.
 *
 * $set: breakup block (basic, bpb1 or bpw)
 */
@function gel-typography($block, $group, $value) {
    // lookups so we can pass in a text sring and return  a value
    $group-names: ('base' 1, 'alpha' 2, 'beta' 3, 'gamma' 4, 'delta' 5, 'centi' 6, 'milli' 7, 'micro' 8);
    $value-names: ('font-size' 1, 'line-height' 2);

    $group-offset: nth(breakup-list-key-search($group-names, $group), 2);
    $value-offset: nth(breakup-list-key-search($value-names, $value), 2);

    $current-block: nth(breakup-list-key-search($gel-typography, $block), 2);
    @return nth(nth($current-block, $group-offset), $value-offset);
}

@mixin is-oldie() {
    @if ($ie == true) {
        @content;
    }
}

@mixin not-oldie() {
    @if ($ie == false) {
        @content;
    }
}
