# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     programmesdb
    database_user:     developer
    database_password: developer
    database_server_version: 5.6

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    cosmos_environment: sandbox
    cosmos_component_release: 0

    # cache_adapter and cache_provider have to be set as parameters rather than being defined in config.yml as builds on jenkins call as
    # cache clear which then attempts to access a redis service that does not exist and then errors happen.
    #
    # you may want to use one of the listed providers:
    # - "cache.default_redis_provider". use this one for redis
    # - "cache.null_provider". use this one for null adapter
    cache_provider: cache.null_provider

    redis_endpoint: sandbox.bbc.co.uk:6379
    fixture_database_host: 192.168.193.1
    fixture_database_port: 3306
    fixture_database_name: programmes
    scenario_database_name: fixture
    fixture_database_user: developer
    fixture_database_password: developer
    fixture_secure_key: developer
    receng_video_key: 'videokey'
    receng_audio_key: 'audiokey'
