# This file shall contain routes used to build URLs that are defined within the
# application. Routes that are not served by this application should be stored
# in routing_3rd_party.yml. This includes routes that will eventually be served
# by this application but have not yet been migrated

status:
    path: /status
    defaults: { _controller: App\Controller\StatusController }

find_by_pid:
    path: /programmes/{pid}
    # !find_by_pid is a special value, that shall be converted into an proper
    # _controller value (i.e. a class name) by the FindByPidRouterSubscriber
    defaults: { _controller: '!find_by_pid' }
    requirements: { pid: '[0-9b-df-hj-np-tv-z]{8,15}' }

# Programme information pages
programme_credits:
    path: /programmes/{pid}/credits
    controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController::redirectAction
    defaults: { route: find_by_pid, _fragment: 'credits' }
    requirements: { pid: '[0-9b-df-hj-np-tv-z]{8,15}' }

programme_episodes:
    path: /programmes/{pid}/episodes
    defaults: { _controller: App\Controller\ProgrammeEpisodes\IndexController }
    requirements: { pid: '[0-9b-df-hj-np-tv-z]{8,15}' }

programme_episodes_guide:
    path: /programmes/{pid}/episodes/guide
    defaults: { _controller: App\Controller\ProgrammeEpisodes\GuideController }
    requirements: { pid: '[0-9b-df-hj-np-tv-z]{8,15}' }

programme_episodes_guide_partial:
    path: /programmes/{pid}/episodes/guide.2013inc
    defaults: { _controller: App\Controller\ProgrammeEpisodes\GuidePartialController }
    requirements: { pid: '[0-9b-df-hj-np-tv-z]{8,15}' }

programme_episodes_player:
    path: /programmes/{pid}/episodes/player
    defaults: { _controller: App\Controller\ProgrammeEpisodes\PlayerController }
    requirements: { pid: '[0-9b-df-hj-np-tv-z]{8,15}' }

programme_upcoming_broadcasts:
    path: /programmes/{pid}/broadcasts/upcoming/{debut}
    defaults: { _controller: App\Controller\ProgrammeEpisodes\UpcomingController, debut: null}
    requirements: { pid: '[0-9b-df-hj-np-tv-z]{8,15}', debut: 'debut' }

programme_profile:
    path: /programmes/profiles/{key}/{slug}
    defaults: { _controller: App\Controller\Profiles\ShowController, slug: '' }
    requirements: { key: '[a-zA-Z0-9-]{1,40}' }

programme_profile_listings:
    path: /programmes/{pid}/profiles
    defaults: { _controller: App\Controller\Profiles\IndexController }
    requirements: { pid: '[0-9b-df-hj-np-tv-z]{8,15}'}

programme_recommendations:
    path: /programmes/{pid}/recommendations{extension}
    defaults: { _controller: App\Controller\RecommendationsController, extension: '' }
    requirements: { pid: '[0-9b-df-hj-np-tv-z]{8,15}', extension: '$|\.2013inc' }

programme_recipes:
    path: /programmes/{pid}/recipes
    defaults: { _controller: App\Controller\Recipes\RecipesController }
    requirements: { pid: '[0-9b-df-hj-np-tv-z]{8,15}' }

programme_recipes_amen:
    path: /programmes/{pid}/recipes.ameninc
    defaults: { _controller: App\Controller\Recipes\RecipesAmenController }
    requirements: { pid: '[0-9b-df-hj-np-tv-z]{8,15}' }

programme_recipes_ds2013:
    path: /programmes/{pid}/recipes.2013inc
    defaults: { _controller: App\Controller\Recipes\RecipesDs2013Controller }
    requirements: { pid: '[0-9b-df-hj-np-tv-z]{8,15}' }

programme_segments:
    path: /programmes/{pid}/segments
    defaults: { _controller: App\Controller\AncillaryPages\SegmentsController }
    requirements: { pid: '[0-9b-df-hj-np-tv-z]{8,15}' }

# Podcast
programme_podcast_episodes_download:
    path: /programmes/{pid}/episodes/downloads
    defaults: { _controller: App\Controller\Podcast\EpisodesDownloadsController }
    requirements: { pid: '[0-9b-df-hj-np-tv-z]{8,15}' }

# SMP Playlist page
programme_smp_playlist:
    path: /programmes/{pid}/playlist.json
    defaults: { _controller: App\Controller\SmpPlaylist\SmpPlaylistController }
    requirements: { pid: '[0-9b-df-hj-np-tv-z]{8,15}' }

# Schedules

schedules_home:
    path: /schedules
    defaults: { _controller: App\Controller\Schedules\HomeController }

schedules_by_day:
    path: /schedules/{pid}/{date}
    defaults: { _controller: App\Controller\Schedules\ByDayController, date: null }
    requirements: { pid: '[0-9b-df-hj-np-tv-z]{8,15}', date: '\d{4}/\d{2}/\d{2}' }

schedules_by_week:
    path: /schedules/{pid}/{date}
    defaults: { _controller: App\Controller\Schedules\ByWeekController }
    requirements: { pid: '[0-9b-df-hj-np-tv-z]{8,15}', date: '\d{4}/w([0-4][0-9]|[5][0-3])' }

schedules_by_month:
    path: /schedules/{pid}/{date}
    defaults: { _controller: App\Controller\Schedules\ByMonthController }
    requirements: { pid: '[0-9b-df-hj-np-tv-z]{8,15}', date: '\d{4}/\d{2}' }

schedules_by_vanity:
    path: /schedules/{pid}/{vanity}
    defaults: { _controller: App\Controller\Schedules\VanityRedirectController }
    requirements: { pid: '[0-9b-df-hj-np-tv-z]{8,15}', vanity: 'yesterday|today|tomorrow|(?:this|next|last)_(?:week|month)' }

schedules_by_year:
    path: /schedules/{pid}/{year}
    defaults: { _controller: App\Controller\Schedules\ByYearController }
    requirements: { pid: '[0-9b-df-hj-np-tv-z]{8,15}', year: '\d{4}' }

# Redirect: /schedules/network/<network_url_key>   --->   /schedules/<default service pid in network>
schedules_by_network_url_key:
    path: /schedules/network/{networkUrlKey}
    defaults: { _controller: App\Controller\Schedules\ByNetworkUrlKeyController }
    requirements: { networkUrlKey: '[a-zA-Z0-9]{2,35}' }

schedules_on_now:
    path: /schedules/network/{networkUrlKey}/on-now
    defaults: { _controller: App\Controller\Schedules\Lazyload\OnNowController }
    requirements: { networkUrlKey: '[a-zA-Z0-9]{2,35}' }

# Simple routes

root:
    path: /
    defaults: { _controller: FrameworkBundle:Redirect:redirect, route: home, permanent: true }

home:
    path: /programmes
    defaults: { _controller: App\Controller\HomeController }

# Labs routes, for testing things

cloud_labs_root:
    path: /programmes/_cloudlabs
    defaults: { _controller: App\Controller\CloudLabsController, action: show }

cloud_labs:
    path: /programmes/_cloudlabs/{action}
    defaults: { _controller: App\Controller\CloudLabsController }

# Snippet player
snippet_get_records:
    path: /programmes/snippet/{recordsIds}.json
    defaults: { _controller: App\Controller\SnippetController }
