/**
 * Extends Classes
 *
 * Add any extension utilities that need should have a class hook should be
 * referenced in here.
 */

/**
 * Micro clearfix, as per: nicolasgallagher.com/micro-clearfix-hack
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
.cf{
    zoom:1;

    &:before,
    &:after{
        content:" ";
        display:table;
    }

    &:after{
        clear:both;
    }
}

.inline {
    display: inline;
}

.list-unstyled { @extend %list-unstyled; }
.list-unlabeled { @extend %list-unlabeled; }
.list-unindented { @extend %list-unindented; }
.list-spaced li {
    // spaced lists are used to give spacing between links close together (touch friendly)
    margin-bottom: $basic-half-spacing;
    &:last-child {
        margin-bottom: 0;
    }
}
.list-lined li,
.list-lined__item {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.visually-hidden { @include visually-hidden(); }
.undo-visually-hidden { @include undo-visually-hidden(); }

.disguised-button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
}

.text--left {
    text-align: left;
}

.text--right {
    text-align: right;
}

.text--center {
    text-align: center;
}
// prose - for large blocks of text
.text--prose {
    p, ul, ol, h2, h3, h4, h5, h6 {
        max-width: 752px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    h1 {
        color: red!important; // this is to discourage usage of <h1> in prose.
    }

    ul,ol {
        overflow: hidden;
        list-style-position: outside;
        padding-left: 32px;
        li {
            margin-bottom: 0.5em;
        }
    }
}

.push--leading {
    margin-left: $basic-spacing;
}

.pull--right {
    float: right;
}

.pull--left {
    float: left;
}
.pull--right-spaced {
    float: right;
    margin-left: $basic-spacing;
}
.pull--left-spaced {
    float: left;
    margin-right: $basic-spacing;
}

.no-margin {
    margin: 0;
}
.no-margin-vertical {
    margin-top: 0;
    margin-bottom: 0;
}

.nowrap {
    white-space:nowrap;
}

@include mq-range('bpw') {
    .bpw-text--left {
        text-align: left;
    }

    .bpw-text--right {
        text-align: right;
    }

    .bpw-text--center {
        text-align: center;
    }

    .pull--right-spaced {
        margin-left: $wide-spacing;
    }
    .pull--left-spaced {
        margin-right: $wide-spacing;
    }
    .bpw-pull--right-spaced {
        float: right;
        margin-left: $wide-spacing;
    }
    .bpw-pull--left-spaced {
        float: left;
        margin-right: $wide-spacing;
    }
    .list-spaced li {
        margin-bottom: $wide-half-spacing;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .list-lined li,
    .list-lined__item {
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
}

.text--subtle {
    opacity: 0.8;
}
.text--faded {
    opacity: 0.6;
}
.text--shout{
    text-transform: uppercase;
}

.text--no-ul {
    &:hover,
    &:active,
    &:focus {
        text-decoration: none !important;
    }
}

@keyframes SPINNER {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loading-spinner:before {
    content: ' ';
    display: block;
    float: left;
    margin-right: 8px;
    border-style: solid;
    border-width: 2px;
    border-left-color: transparent !important;
    border-radius: 100%;
    height: 16px;
    width: 16px;
    animation:         SPINNER 0.75s infinite linear;
}

.loading-spinner--large::before {
    border-width: 6px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border-left-color: rgba(255, 255, 255, 0.15) !important;
    animation:         SPINNER 1.1s infinite linear;
}
