/**
 *  .programme
 *  A generic programme aggregation object with an image,
 *  availability, titles and synopsis
 *  Extends the media object
 */

$programme-icon-basic-box-size: gel-typography('basic', 'delta', 'line-height') + 9px;

$programme-icon-bpb1-box-size: gel-typography('bpb1', 'delta', 'line-height') + 10px;

$programme-icon-bpw-box-size: gel-typography('bpw', 'delta', 'line-height') + 18px;

.programme {
    @extend .media;
    @extend .link-complex;
}

.programme__body {
    @extend .media__body;
    max-width: 464px;
}

.programme__img {
    position: relative;
    float: left;
    margin-right: $basic-spacing;
    margin-bottom: 0;
    max-width: 148px;
    overflow: hidden;

    // A reduced max width for indented items so that the right of the image
    // still lines up
    &.push-one-twentyfourth {
        max-width: 118px;
    }

    &.programme__img--standalone-cta {
        float: right;
        margin-right: 0;
        margin-left: $basic-spacing;
        width: inherit;
    }
}

.programme__img--standalone-cta:not(.programme__img--available) {
    height: $programme-icon-basic-box-size;
    width: $programme-icon-basic-box-size;
}

.programme__img--nomax {
    max-width: none;
}

.programme__titles a {
    @extend .link-complex__target;
    @include inline-block();
}

.programme__title {
    display: block;
    margin-bottom: 0;
    word-wrap: break-word;
}

.programme__img-box {
    background: #cccccc;
    background: rgba(204, 204, 204, 0.5);

    // Hidden by default
    display: none;
    visibility: hidden;
}

.programme__new {
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}

.programme__overlay-data {
    display: none;
    height: 24px;
    max-width: 274px;
    overflow: hidden;
}

.programme__time-remaining {
    font-weight: normal;
    margin: 4px 8px 0;
    text-align: left;
    line-height: 1; // 12px
}

.programme__subtitle {
    display: block;
    margin-top: 0;
    font-weight: normal;
}

.programme__titles {
    margin: 0;
}

.programme__synopsis,
.programme__service,
.programme__favourites,
.programme__live,
.programme__child-availability {
    margin-top: 4px;
    margin-bottom: 0;
}

.programme__broadcast-date {
    margin-top: 16px;
    margin-bottom: 0;

    .timezone.timezone--date {
        padding-right: 8px;
    }
}

.programme__synopsis {
    display: none;
}

.programme__service {
    font-weight: bold;

    // If we're showing both the broadcast date and the service then have
    // them run into each other instead of being spaced out.
    .programme__broadcast-date ~ & {
        margin-top: 0;
    }
}

.programme__service .only,
.programme__service .except {
    font-weight: normal;
}

.programme__child-availability a {
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;

        span {
            text-decoration: underline;
        }
    }
}

// show/hide bits of this object, when embedded in a stream
.stream .programme,
.stream .programme__body {
    transition: opacity 0.3s ease-in, background-color 0.3s ease-in;
    opacity: 1;
}

.stream:not(.touched):not(.stream--alwaysvisible) .stream__i--hidden .programme__body {
    opacity: 0;
}

.stream:not(.touched):not(.stream--alwaysvisible) .stream__i--hidden .programme {
    background-color: transparent;
}

.programme__status {
    position: absolute;
    bottom: 0;
    left: 0;
    background: $iplayer-pink;
    padding: 4px;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
}

.programme__status--dull {
    background: #222222;
}

@include mq-range('bpb1') {
    .programme__img-box {
        display: block;
        visibility: visible;
    }

    .has-js .programme__img--hasimage ~ .programme__new {
        top: 0;
        left: 0;
        position: absolute;
        padding: 0 4px;
        text-align: center;
    }
}

@include mq-range('bpw') {
    .programme__img {
        margin-right: $wide-spacing;
    }

    .programme__img-box {
        display: block;
        visibility: visible;
    }

    .programme__img--standalone-cta:not(.programme__img--available) {
        height: $programme-icon-bpw-box-size;
        width: $programme-icon-bpw-box-size;
    }

    /*  Only to be set if a user has javascript enabled
        And the object has an image */

    .has-js .programme__img--hasimage ~ .programme__new {
        top: 0;
        left: 0;
        position: absolute;
        padding: 0 4px;
        text-align: center;
    }

    .programme__overlay-data {
        height: $programme-icon-bpw-box-size;
        display: block;
    }

    .programme__time-remaining {
        margin: 9px 8px 0;
        font-size: px-to-em(11px, gel-typography('bpw', 'base', 'font-size'));
        line-height: 1.1;
    }

    .programme__synopsis {
        display: block;
    }
}

@include mq($from: 600px, $until: 769px) {
    .programme__img--standalone-cta:not(.programme__img--available) {
        height: $programme-icon-bpb1-box-size;
        width: $programme-icon-bpb1-box-size;
    }

    .programme__overlay-data {
        height: $programme-icon-bpb1-box-size;
    }

    .programme__time-remaining {
        margin: 4px 8px 0;
    }

}

// Per breakpoint toggles for programme image top or left.
// We need to overwrite each property to ensure that no phantom properties from
// the other declaration remain.
@mixin programme-image-setup($suffix: '', $spacing: $basic-spacing) {
    $half-spacing: $spacing / 2;

    .programme--list#{$suffix} {
        .programme__img {
            float: left;
            margin-right: $spacing;
            margin-bottom: 0;
            max-width: 224px;
            overflow: hidden;
        }

        .programme__img--nomax {
            max-width: none;
        }

        .programme__body {
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .programme--list-featured#{$suffix} {
        @extend .programme--list#{$suffix};

        .programme__body {
            margin-top: $spacing;
            margin-bottom: $spacing;
            margin-right: $spacing;
        }

        .programme__service,
        .programme__child-availability {
            margin-top: 16px;
            margin-bottom: 0;

        }

        .programme__broadcast-date ~ .programme__service {
            // If we're showing both the broadcast date and the service then have
            // them run into each other instead of being spaced out.
            margin-top: 0;
        }
    }

    .programme--grid#{$suffix} {
        .programme__img {
            float: none;
            margin-right: 0;
            max-width: none;
            margin-bottom: $half-spacing;
        }

        .programme__body {
            margin-bottom: $half-spacing;
            margin-left: $half-spacing;
            margin-right: $half-spacing;
        }

        .programme__body--flush {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@include programme-image-setup();

@include mq-range('bpw') {
    .programme--list {
        .programme__img {
            margin-right: $wide-spacing;
        }
    }

    .programme--grid {
        .programme__img {
            margin-bottom: $wide-half-spacing;
        }

        .programme__body {
            margin-bottom: $wide-half-spacing;
            margin-left: $wide-half-spacing;
            margin-right: $wide-half-spacing;
        }

        .programme__body--flush {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@each $name in $gel-widths-breakpoints {
    $spacing: if(index(('bpb1', 'bpb2'), $name), $basic-spacing, $wide-spacing);

    @include mq-range($name) {
        @include programme-image-setup('\\@#{$name}', $spacing);
    }
}
