{% extends "@Ds2013/Presenters/Domain/ContentBlock/content_block.html.twig" %}

{% block blockContent %}
    <ul class="no-margin-vertical list-spaced">
        {% for title, url in content_block.getBlock().getLinks() %}
            <li class="related-link">
                <a href="{{ url }}">{{ title }}</a>
                {% set externalUrl = content_block.extractExternalHost(url) %}
                {% if externalUrl %} <span class="milli">({{ externalUrl }})</span>{% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
