<div class="component component--box {{ content_block.isInPrimaryColumn() ? ' component--box-flushbody-vertical component--box--primary' : ' component--box--striped component--box--secondary' }}">
    {% if content_block.getBlock().getTitle() %}
        <div class="component__header {{ content_block.isInPrimaryColumn() ? 'br-box-page' : 'br-box-highlight'}}">
            <h2>{{ content_block.getBlock().getTitle() }}</h2>
        </div>
    {% endif %}
    <div class="component__body {{ content_block.isInPrimaryColumn() ? ' br-box-page' : ' br-box-subtle'}}">
        {% block blockContent %}{% endblock %}
    </div>
</div>
