{% set loader_url = content_block.getBBCDownloadsUrl() ~ content_block.getBlock().getLoaderUrl() %}

<div id="og-frame-holder"></div>
<script>
    require(["kite/embed"], function(embed) {
        embed({{ loader_url|json_encode|raw }}, {{ content_block.getParams()|json_encode|raw }});
    });
</script>
