<div class="island">
    <h2>{{ tr(tx.getTitle()) }}</h2>

    {{-
        ds2013('broadcastEvent', tx.getCollapsedBroadcast(), {
            'show_watch_from_start':true,
            'show_on_air_message': false
        })
    -}}
</div>
