<div class="island--vertical">
    <h2>{{ tr(network_services_list.headingMessage) }}</h2>
    <div id="outlets" class="schedule-variant-outlets">
        <ul class="list-unstyled columns columns--2@bpb2 columns--2@bpw delta">
            {%- for service in network_services_list.servicesInNetwork -%}
                <li>
                    {%- if service.pid == network_services_list.service.pid -%}
                        <span class="box-link">{{ service.shortName }}</span>
                    {%- else -%}
                        <a href="{{ path('schedules_by_day', {'pid': service.pid, 'date': network_services_list.date}) }}"
                           data-href-add-utcoffset="true"
                           class="box-link">{{ service.shortName }}</a>
                    {%- endif -%}
                </li>
            {%- endfor -%}
        </ul>
    </div>
</div>
