{% set title_classes = build_css_classes({
    'grid': true,
    '1/2@bpw2 1/2@bpe': region_pick.hasRegionPicker,
}) %}

<div class="grid-wrapper">
    <div class="{{ title_classes }}">
        <p class="beta">
            {{ tr('schedule_title', {'%1':region_pick.serviceName}) }}
        </p>
    </div>
    {% if region_pick.hasRegionPicker %}
         <div class="grid 1/2@bpw2 1/2@bpe">
            <div class="bpw-text--right">
                {% set link = region_pick.twinServicePid ? path('schedules_by_day', {
                    'pid': region_pick.twinServicePid,
                    'date': region_pick.date,
                }) : '#outlets' %}
                <a href="{{ link }}" class="delta">{{ tr(region_pick.linkMessage, {'%1': region_pick.linkName}) }}</a>
            </div>
         </div>
    {% endif %}
</div>
