{% extends 'profiles/show.html.twig' %}

{% block body_inner %}
    <div class="programmes-page profile--group">
        <div class="grid-wrapper">
            <div class="grid">
                <div class="br-box-page">
                    <div class="prog-layout__primary island--vertical">
                        <h1>{{ profile.getTitle() }}</h1>
                        <div class="text--prose component">
                            <p>{{ profile.getLongSynopsis() }}</p>
                        </div>
                    </div>
                    <div class="component component--box component--box--primary">
                        <div class="component__body br-box-page">
                            {% if profile.getChildren() %}
                                {% include 'profiles/partials/profile_list.html.twig' with {
                                    'profiles': profile.getChildren(),
                                    'programme': programme,
                                    'paginatorPresenter': paginatorPresenter
                                } only %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
