{% extends 'base_ds2013.html.twig' %}

{% block title %}{{ meta_context.titlePrefix() }} - {{ tr('profiles') }}{% endblock %}
{% block page_classes %}text-base prog-layout{% endblock %}

{% block body %}
    <div class="programmes-page profile--individual">
        <div class="grid-wrapper">
            <div class="grid bpw2-thirteen-twentyfourths bpe-thirteen-twentyfourths">
                <div class="br-box-page prog-box">
                    <div class="prog-layout prog-layout__primary component programmes-page--topboxed">
                        <h1>{{ profile.getTitle() }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
