{% extends 'base_ds2013.html.twig' %}

{% block page_classes %}text-base prog-layout{% endblock %}

{% block body %}
    <div class="programmes-page">
        <div class="grid-wrapper">
            <h1>A Profile Page</h1>
        </div>
    </div>
{% endblock %}
