/**
 * Design System 2014
 *
 * Included at all viewport sizes. This file imports all our common libraries
 * and any module and page specific styling. Only the basic and wide breakpoints
 * are included in this file. This is for old IE which does not support
 * stylesheets but we do want it to have the wide styles.
 */

$mq-responsive: false;
$mq-static-breakpoint: 'gel4';

$ie: true;

@import 'Ds2013/ds2013-components';

/*ie fix for absolute link over img */
.block-link__overlay-link {
    background: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
}
