// This is equivalent to setting list items to 1/2@gel3 1/3@gel3b 1/4@gel5
// and double-width list items to 2/3@gel3b 1/2@gel5
// We do it this way because we need to modify the behaviour upon JS adding a class to the body
// in _mpuad.scss
@include mq($from: gel3) {
    .tlec-page-card {
        width: 50%;
    }
}

@include mq($from: gel3b) {
    .tlec-page-card {
        width: 33.33%;
    }

    .tlec-page-card--doublewidth {
        width: 66.66%;
    }
}

@include mq($from: gel4) {
    .tlec-page-supporting-content {
        width: 50%;
    }
}

@include mq($from: gel5) {
    .tlec-page-card {
        width: 25%;
    }

    .tlec-page-card--doublewidth {
        width: 50%;
    }
}
