{% extends "@Ds2013/Presenters/Domain/ContentBlock/content_block.html.twig" %}

{% block blockContent %}
    <table class="table table--slatted">
        <thead>
            <tr>
                {% for heading in content_block.getBlock().getHeadings() %}
                    <th class="{{ content_block.getHeaderClasses() }}">{{ heading }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in content_block.getBlock().getRows() %}
                <tr>
                    {% for column in row %}
                        <td class="{{ content_block.getCellClasses() }}">{{ column }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
