.buttons--favourites-small {
    display: inline-block;
    height: 35px;
    margin-top: -1px;
    font-size: 21px;
}

.favourites-button {
    margin-top: 18px;
}

.favourites-button-island {
    padding: 0 $gel-unit-small $gel-unit-small;

    .favourites-button {
        margin-top: 2px;
    }
}

@include mq($from: gel3) {
    .favourites-button-island {
        padding: 0 $gel-unit-large $gel-unit-large;
    }
}
