@mixin hidden($suffix: '') {
    .hidden#{$suffix} {
        display: none;
    }
}

@mixin unhidden($suffix: '') {
    .unhidden#{$suffix} {
        display: block;
    }
}

@mixin unhidden-inline($suffix: '') {
    .unhidden-inline#{$suffix} {
        display: inline;
    }
}

@mixin unhidden-inlineblock($suffix: '') {
    .unhidden-inlineblock#{$suffix} {
        display: inline-block;
    }
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 *
 * This is a mixin rather than an extend because we need to toggle visibility
 * within breakpoints which we would be unable to do as you can not call @extend
 * on an element outside a @media block from within a @media block.
 */
@mixin invisible($suffix: '') {
    .invisible#{$suffix} {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        visibility: hidden;
    }
}

@mixin visible($suffix: '') {
    .visible#{$suffix} {
        position: static;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto;
        visibility: visible;
    }
}

@include hidden();
@include unhidden();
@include unhidden-inline();
@include unhidden-inlineblock();
@include invisible();
@include visible();

@each $breakpoint, $suffix in ($breakpoint-suffixes) {
    @include mq($from: $breakpoint) {
        @include hidden($suffix);
        @include unhidden($suffix);
        @include unhidden-inline($suffix);
        @include unhidden-inlineblock($suffix);
        @include invisible($suffix);
        @include visible($suffix);
    }
}

//
//  Opacity helpers
//

.fade-90 {
    opacity: 0.9;
}

.fade-80 {
    opacity: 0.8;
}

.fade-70 {
    opacity: 0.7;
}

.fade-60 {
    opacity: 0.6;
}

.fade-50 {
    opacity: 0.5;
}

.fade-40 {
    opacity: 0.4;
}

.fade-30 {
    opacity: 0.3;
}

.fade-20 {
    opacity: 0.2;
}

.fade-10 {
    opacity: 0.1;
}
