/**
 * Standard icon behaviour. Used as a "cutout" on the bottom left of an image
 * It will position and size itself appropriately.
 * It is expecting a GEL icon inside it
 * It uses element queries so you will need to use this exact attribute setup
 * <div class="icon-container" data-eq-pts="medium: 280, large: 400, super: 656">
 *    <div class="icon"></div>
 * </div>
 */

$body-grey: #262525;

.icon-container {
    width: 100%;
}

.icon {
    display: inline-block;
    display: inline-flex;

    text-align: center;
    min-height: $cta-minimum-size;
    line-height: $cta-minimum-size;
    padding: 0;
    align-items: center;
}

.icon-cta {
    align-self: center;

    > .icon-label {
        margin: 0 $gel-unit-large 0 0;
    }
}

.icon-cta.icon--iplayer > .icon-label {
    margin: auto $gel-unit-small;
}

.cta {
    //When the CTA is standalone, only colour the Icon
    &.cta--standalone {
        .icon--listen .gelicon {
            background-color: rgba(0, 0, 0, 0.7);
            color: #ffffff;
        }

        &:hover,
        &:active,
        &:focus {
            .icon--listen .gelicon {
                color: #000000;
                background-color: #ffffff;
            }
        }
    }

    //When the CTA is not standalone, colour the whole div
    &:not(.cta--standalone) {
        .icon--listen {
            background-color: rgba(0, 0, 0, 0.7);
            color: #ffffff;
        }

        &:hover,
        &:active,
        &:focus {
            .icon--listen {
                color: #000000;
                background-color: #ffffff;
            }
        }
    }
}

.cta--dark {
    background-color: rgba($body-grey, 0.7);
    color: #ffffff;

    .icon--iplayer-dark,
    .icon--play {
        background-color: rgba($body-grey, 0.7);
        color: #ffffff;
    }

    .icon--iplayer .gelicon {
        color: #ffffff;
        background-color: $iplayer-pink;
    }

    .icon--live-restart {
        background-color: rgba($body-grey, 0.7);
        color: #ffffff;

        .gelicon {
            color: #ffffff;
            background-color: #424242;
        }
    }

    &:hover,
    &:active,
    &:focus {
        .icon--iplayer,
        .icon--iplayer .gelicon,
        .icon--live-restart,
        .icon--live-restart .gelicon {
            background-color: $body-grey;
        }

        .icon--iplayer-dark,
        .icon--play {
            color: #ffffff;
            background-color: $iplayer-pink;
        }
    }
}

.cta--dark.cta--standalone {
    background-color: transparent;
}

.media__overlay {
    .cta--dark {
        .icon--iplayer {
            color: #ffffff;
        }
    }

    &:hover,
    &:active,
    &:focus {
        .icon--iplayer,
        .icon--iplayer .gelicon,
        .icon--live-restart,
        .icon--live-restart .gelicon {
            color: #ffffff;
        }
    }
}

.icon-link {
    display: inline-block;
    display: inline-flex;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;

        .icon--remove-background {
            background-color: transparent;
        }
    }
}

.trailing-link .icon-link {
    align-items: baseline;
}

// Icon label - for lining up something
// next to an icon nicely
.icon-label {
    margin: auto $gel-unit-small;
    text-align: left;
    // line up nicer with the icon
    position: relative;
}

.icon-label--trailing-link {
    margin: auto 0;
    text-align: left;
    // line up nicer with the icon
    position: relative;
}

// Added in due to specificity issues
.icon--remove-background.icon--remove-background {
    background-color: transparent;
}

.speak-duration {
    speak: spell-out;
}

// Overrides for "standalone" CTAs without background image
.cta--standalone {
    & > a.link-complex {
        display: inline-flex;
    }

    .icon {
        vertical-align: middle;
        align-items: center;
    }

    .icon-cta {
        align-self: inherit;

        > .icon-label {
            margin: auto $gel-unit-small;
        }
    }

    &:hover,
    &:active,
    &:focus {
        .icon--iplayer,
        .icon--live-restart {
            background: transparent;
        }
    }
}
