{% extends 'base_ds2013.html.twig' %}

{% block title %}{{ meta_context.titlePrefix() }} - {{ tr('recipes') }}{% endblock %}
{% block page_classes %}text-base programmes-page--smallpush prog-layout{% endblock %}

{%- block body -%}

    <div class="programmes-page prog-layout__primary br-box-page">
        {{ include('recipes/share/2013incBody.html.twig') }}
    </div>
{%- endblock -%}
