{% extends 'base_ds2013.html.twig' %}

{% block title %}Adverts Test{% endblock %}
{% block adsToDisplay %}leaderboard mpu{% endblock %}

{% block body %}
    <div class="br-box-page">
        <p>You'll need to trick the FIG into thinking you're outside the UK for these adverts to appear</p>

        <h1>LEADERBOARD</h1>
        {{ advert('leaderboard', [1,2,3,4]) }}

        <h1>MPU</h1>
        {{ advert('mpu', [1,2,3,4]) }}
    </div>
{% endblock %}
