<span class="context">
{%- for item in entity_context.getAncestry() -%}
    <a class="context__item" href="{{ path('find_by_pid', {'pid': item.getPid()}) }}">{{ item.getTitle() }}</a>
    {{- not loop.last ? (loop.first ? ' ' : ', ') -}}
{%- endfor -%}
</span>
{#- I am a comment with whitespace supression so a newline is not rendered at the end of this template -#}
