.ml__status {
    display: none;
}

.ml__button {
    display: none;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
}

.ml__button--faq,
.ml__button--dropdown {
    display: block;
    margin: 0;
}

.ml__button--faq::before,
.ml__button--dropdown::before {
    content: '\e005';
    margin-right: 8px;
    font-family: 'gelicons-core';
    vertical-align: baseline;
    font-size: 16px;
    display: inline-block;
    transition: transform 0.25s linear; // all others don't need a prefix
}

.ml__button--faq-q .ml__button--faq::before {
    transform: rotate(90deg); // all others don't need a prefix
}

.ml__status:checked + .ml__button--faq-q .ml__button--faq::before {
    transform: rotate(0); // all others don't need a prefix
}

.ml__button--dropdown-h .ml__button--dropdown::before,
.ml__button--dropdown-up::before {
    transform: rotate(-90deg); // all others don't need a prefix
}

.ml__status:checked ~ .ml__button--dropdown-h .ml__button--dropdown::before,
.ml__button--dropdown-down::before {
    transform: rotate(90deg); // all others don't need a prefix
}

.ml__status:focus + .ml__button,
.ml__status:focus + .ml__button--faq-q {
    text-decoration: underline;
}

$faq-answer-indent: 23px;

.ml__button--faq__answer {
    padding: 0 $faq-answer-indent; // width of the icon + 8px;
}

// swapped (so undo-visually-hidden doesn't have to be used)
// checked = hidden (also means no need for unsupported browser hacks)
@mixin moreless-setup($suffix: '') {

    .ml#{$suffix} .ml__status,
    .ml#{$suffix} .ml__button:nth-child(n) {
        display: inherit;
    }

    .ml#{$suffix} .ml__ellipsis::after {
        content: '';
    }

    .ml#{$suffix} .ml__status:checked ~ .ml__content .ml__ellipsis::after {
        content: '\2026'; /* === &hellip; ISO in CSS content */
    }

    .ml#{$suffix} .ml__label--sep,
    .ml#{$suffix} .ml__button .ml__label--more {
        display: none;
    }

    // use numbered status objects if they are separated

    .ml#{$suffix} .ml__status,
    .ml#{$suffix} .ml__status:checked ~ .ml__content .ml__hidden,
    .ml#{$suffix} .ml__status:checked ~ .ml__hidden,
    .ml#{$suffix} .ml__status-1:checked ~ .ml__hidden-1,
    .ml#{$suffix} .ml__status-2:checked ~ .ml__hidden-2,
    .ml#{$suffix} .ml__status-3:checked ~ .ml__hidden-3,
    .ml#{$suffix} .ml__status:checked ~ .ml__button .ml__label--less {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        visibility: hidden;
    }

    .ml#{$suffix} .ml__status:checked ~ .ml__button .ml__label--more {
        display: inline;
    }
}

@include moreless-setup();
// TODO add per viewport options ml@gel3 etc when we need it

@each $name in $gel-widths-breakpoints {
    @include mq-range($name) {
        @include moreless-setup('\\@#{$name}');
    }
}
