<div class="component component--box component--box--striped component--box-flushbody component--box--secondary">
    <div class="component__header br-box-highlight">
        <h2>{{ tr('podcasts', 1) }}</h2>
    </div>

    <div class="component__body br-box-subtle">
        <ul class="list-unstyled">
            <li class="">
                {{ ds2013('programme', podcast, {
                    'body_options': {
                        'show_synopsis': true,
                    },
                    'title_options': {
                        'link_to' : 'podcast',
                    },
                    'image_options': {
                        'default_width': 160,
                        'is_lazy_loaded': true,
                        'sizes': {
                            0: 1/4,
                            1008: '136px',
                        },
                    },
                    'container_classes': 'programme programme--radio programme--brand block-link highlight-box--list br-keyline br-blocklink-page br-page-linkhover-onbg015--hover',
                }) }}
            </li>
        </ul>
    </div>
</div>
