{% extends 'styleguide/amen/base.html.twig' %}

{% block section_name %}Intro{% endblock %}

{% block content %}
<p>This is the /programmes Amen styleguide. It details the components that build Amen-based /programmes pages.</p>
{% endblock %}
