<div class="grid__item map__item {{ on_demand.getClass() }}">
    <div class="map-card-wrap br-box-secondary" data-map-column="on_demand2016">
        <h1>I Я On Demand for {{ on_demand.programme.title }}</h1>
    </div>
</div>
