.ml__status {
    display: none;
}

.ml__button {
    display: none;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
}

.ml__button--faq, .ml__button--dropdown {
    display: block;
    margin: 0;
}

.ml__button--faq:before,
.ml__button--dropdown:before {
    content: "\e005";
    margin-right: 8px;
    font-family: 'gelicons-core';
    vertical-align: baseline;
    font-size: 16px;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.25s linear; // old safari
    transition: transform 0.25s linear; // all others don't need a prefix
}

.ml__button--faq-q .ml__button--faq:before {
    -webkit-transform: rotate(90deg); // chrome, safari etc
    -ms-transform: rotate(90deg); // ie9
    transform: rotate(90deg); // all others don't need a prefix
}

.ml__status:checked + .ml__button--faq-q .ml__button--faq:before {
    -webkit-transform: rotate(0); // chrome, safari etc
    -ms-transform: rotate(0); // ie9
    transform: rotate(0); // all others don't need a prefix
}

.ml__button--dropdown-h .ml__button--dropdown:before,
.ml__button--dropdown-up:before {
    -webkit-transform: rotate(-90deg); // chrome, safari etc
    -ms-transform: rotate(-90deg); // ie9
    transform: rotate(-90deg); // all others don't need a prefix
}

.ml__status:checked ~ .ml__button--dropdown-h .ml__button--dropdown:before,
.ml__button--dropdown-down:before {
    -webkit-transform: rotate(90deg); // chrome, safari etc
    -ms-transform: rotate(90deg); // ie9
    transform: rotate(90deg); // all others don't need a prefix
}

.ml__status:focus + .ml__button,
.ml__status:focus + .ml__button--faq-q {
    text-decoration: underline;
}

$faq-answer-indent: 23px;
.ml__button--faq__answer {
    padding: 0 $faq-answer-indent; // width of the icon + 8px;
}

// swapped (so undo-visually-hidden doesn't have to be used)
// checked = hidden (also means no need for unsupported browser hacks)
@mixin moreless-setup($namespace: '') {

    .#{$namespace}ml .ml__status,
    .#{$namespace}ml .ml__button:nth-child(n) {
        display: inherit;
    }

    .#{$namespace}ml .ml__ellipsis:after {
        content: "";
    }
    .#{$namespace}ml .ml__status:checked ~ .ml__content .ml__ellipsis:after {
        content: "\2026"; /* === &hellip; ISO in CSS content */
    }

    .#{$namespace}ml .ml__label--sep,
    .#{$namespace}ml .ml__button .ml__label--more {
        display: none;
    }

    // use numbered status objects if they are separated

    .#{$namespace}ml .ml__status,
    .#{$namespace}ml .ml__status:checked ~ .ml__content .ml__hidden,
    .#{$namespace}ml .ml__status:checked ~ .ml__hidden,
    .#{$namespace}ml .ml__status-1:checked ~ .ml__hidden-1,
    .#{$namespace}ml .ml__status-2:checked ~ .ml__hidden-2,
    .#{$namespace}ml .ml__status-3:checked ~ .ml__hidden-3,
    .#{$namespace}ml .ml__status:checked ~ .ml__button .ml__label--less {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        visibility: hidden;
    }

    .#{$namespace}ml .ml__status:checked ~ .ml__button .ml__label--more {
        display: inline;
    }
}

@include moreless-setup();
// TODO add per viewport options ml@gel3 etc when we need it
