// Columns
//
// For creating CSS columns
// See /programmes/styleguide/columns

@mixin column-setup($namespace: '') {
    @for $i from 1 through 4 {
        .columns--#{$i}#{$namespace} {
            column-count: #{$i};
        }
    }
}

.columns {
    /* no column count for the default as it is one column */
    break-inside: avoid;
    column-gap: $wide-spacing;

    li,
    a {
        // list items and links inside columns should not split across column
        break-inside: avoid;
    }
}

.columns--bordered {
    column-rule-width: 1px;
    column-rule-style: solid;
    column-gap: $wide-spacing * 2;
}

@include column-setup();

@each $name in $gel-widths-breakpoints {
    @include mq-range($name) {
        @include column-setup('\\@#{$name}');
    }
}
