
// Component
//
// A fundamental block on the page that changes its spacing dependent upon the
// current breakpoint.
//
// .component provides margin-bottom for spacing an item.
//
// .component--box creates an box with a heading and footer.
// .component--box--primary applies horizontal spacing to the box using the prog-layout__primary rules
// .component--box--secondary applies horizontal spacing to the box using the prog-layout__secondary rules

.component {
    @extend %margin-bottom-1blh;
}
.component--borderedbookends {
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.component--sibling {
    border-left-style: solid;
    border-left-width: 16px;
    padding-left: 16px;
    margin-top: 8px;
    margin-bottom: 16px;
    .programme .programme__body { // needs to be quite specific
        margin-bottom: 0; // cancel programme object margins
    }
}

.component--box--primary {
    .component__header,
    .component__body {
       @extend .prog-layout__primary;
    }

    // Mostly right, but we need to keep the margin at wide sizes (shall be done
    // below).
    .component__footer {
        @extend .prog-layout__secondary;
        @include mq-range('bpw') {
            margin-left: $wide-spacing;
            margin-right: $wide-spacing;
        }
    }
}

.component--box--secondary {
    .component__header,
    .component__body,
    .component__footer {
        @extend .prog-layout__secondary;
    }
}


.component__header {
    padding-bottom: $basic-spacing;
    position: relative;
    h2, h3, p {
        margin: 0;
    }
    // if a stream is in here, line it up
    .stream__indicator-wrap {
        position: absolute;
        bottom: 1.175em;
        right: 8px;
    }
}

.component__body {
    @extend .cf;
}

.component__footer {
    padding-top: $basic-spacing;
    padding-bottom: $basic-spacing;
    margin-top: 1px;
}

.component--box {
    .component__header {
        padding-top: $basic-spacing;
    }

    .component__body {
        padding-top: $basic-spacing;
        padding-bottom: $basic-spacing;
    }

    .component__body:first-child {
        padding-top: $basic-spacing;
    }
}

// When a box has a striped heading adjust the spacing between the header
// and body
.component--box--striped {
    .component__body {
        padding-top: $basic-spacing;
    }
}

.component--box-flushbody {
    // Additional declarations to ensure we are more specific the padding-top
    // that gets applied to a component--box that is missing a header
    .component__body,
    .component__body:first-child {
        padding: 0;
    }
}

.component--box-flushbody-vertical {
    // Additional declarations to ensure we are more specific the padding-top
    // that gets applied to a component--box that is missing a header
    .component__body,
    .component__body:first-child {
        padding-top: 0;
        padding-bottom: 0;
    }
}

// the last item in a box should not have margin, or they double up
.component__header,
.component__body,
.component__footer {
    > p:last-child,
    > ul:last-child,
    > ol:last-child {
        margin-bottom: 0;
    }
}

@mixin component-highlight-box-spacing($spacing) {
    .highlight-box--list {
        margin-left: $spacing;
        margin-right: $spacing;

        &:hover,
        &:active,
        &:focus,
        &.highlight-box--active {
            // -1px to because we want the total spacing to be $spacing,
            // including the 1px border
            padding-left: ($spacing - 1px);
            padding-right: ($spacing - 1px);
        }
    }

    .highlight-box--list-borderless {
        padding-left: $spacing;
        padding-right: $spacing;
    }
}

@include mq-range('bp2') {
    .component__header .stream__indicator-wrap {
        right: 16px;
    }

    // Highlight boxes in "primary" component box should have a horizontal
    // margin of 16px so that their content is inline with the BBC Blocks
    .component--box--primary {
        @include component-highlight-box-spacing($wide-spacing);
    }

    // Highlight boxes in secondary component box should have a horizontal
    // margin of 8px (the default for highlight boxes) to maintain their square
    // shape
    .component--box--secondary {
        @include component-highlight-box-spacing($basic-spacing);
    }
}

@include mq($from: 'gel2', $until: 'gel3') {
    // prefixed bp*-highlight-box--grid need their spacing updated, otherwise
    // elements with ".highlight-box--list.bpb1-highlight-box--grid" inherit
    // incorrect spacing from from highlight-box--list defined above
    .component--box--primary,
    .component--box--secondary {
        .bpb1-highlight-box--grid {
            margin: 0 0 $wide-spacing 0;
            padding: 0 0;

            &:hover,
            &:active,
            &:focus,
            &.highlight-box--active {
                // -1px to because we want the total spacing to be $spacing,
                // including the 1px border
                margin: 0 0 $wide-spacing 0;
                padding: 0;
            }
        }
    }
}

@include mq-range('bpb2') {
    // prefixed bp*-highlight-box--grid need their spacing updated, otherwise
    // elements with ".highlight-box--list.bpb2-highlight-box--grid" inherit
    // incorrect spacing from from highlight-box--list defined above
    .component--box--primary,
    .component--box--secondary {
        .bpb2-highlight-box--grid {
            margin: 0 0 $wide-spacing 0;
            padding: 0 0;

            &:hover,
            &:active,
            &:focus,
            &.highlight-box--active {
                // -1px to because we want the total spacing to be $spacing,
                // including the 1px border
                margin: 0 0 $wide-spacing 0;
                padding: 0;
            }
        }
    }
}

@include mq-range('bpw') {
    // When a box has a striped heading adjust the spacing between the header
    // and body
    .component--box--striped {
        .component__body {
            padding-top: $wide-spacing;
        }

        // Ensure the footer coloring is the same width as heading strip
        .component__footer {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .component__header .stream__indicator-wrap  {
        right: 16px;
    }

    .component--box-flushbody {
        // Additional declarations to ensure we are more specific the padding-top
        // that gets applied to a component--box that is missing a header
        .component__body,
        .component__body:first-child {
            padding: 0;
        }
        .stream__indicator-wrap  {
            right: 16px;
        }
    }

    .component--box-flushbody-vertical {
        // Additional declarations to ensure we are more specific the padding-top
        // that gets applied to a component--box that is missing a header
        .component__body,
        .component__body:first-child {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .component--box--primary:first-child {
        .component__header {
            padding-top: $wide-spacing;
        }
    }

    .component--sibling {
      margin-top: 16px;
      margin-bottom: 32px;
    }
}
