/**
 * Nav
 *
 * A list of inline links.
 *
 * Copied from inuit.css and csswizardry.com/2011/09/the-nav-abstraction
 */

.nav {
    @extend %list-unstyled;
    @extend .cf;

    > li {
        @include inline-block();
    }

    > li > a {
        display: block;
    }
}

/**
 * `.nav--banner` extends `.nav` and centres the list
 */
.nav--banner {
    text-align: center;
}

/**
 * `.nav--stacked` extends `.nav` and throws the list into vertical mode
 */
.nav--stacked {
    > li {
        display: list-item;

        > a {
            display: block;
        }
    }
}

/**
 * Give nav links a big, blocky hit area. Extends `.nav`
 */
.nav--block {
    line-height: 1;
    // Remove whitespace caused by `inline-block`.
    letter-spacing: -0.31em;
    word-spacing: -0.43em;

    > li {
        letter-spacing: normal;
        word-spacing: normal;

        > a {
            padding: $basic-half-spacing;
        }
    }
}

.nav--piped {
    // Remove whitespace caused by `inline-block`.
    letter-spacing: -0.31em;
    word-spacing: -0.43em;

    > li {
        letter-spacing: normal;
        word-spacing: normal;

        margin-right: $basic-spacing;
        padding-right: $basic-spacing;
        border-right-width: 1px;
        border-right-style: solid;

        > a {
            @include inline-block();
            vertical-align: top;
        }

        &:last-child {
            margin-right: 0;
            padding-right: 0;
            border-right: 0;
        }
    }

}

@include mq-range('bpw') {
    .nav--piped {
        > li {
            margin-right: $wide-spacing;
            padding-right: $wide-spacing;
        }
    }
}
