$timebar-inactive: #444;

.timebar {
    // TODO check this math is good
    max-width: 185px;
    padding: 4px 8px 8px;
}

.timebar__blocks {
    margin-top: 4px;
    height: 4px;
}

.timebar__blocks--8 {
    background: $iplayer-pink;
}

.timebar__box-active {
    background: $iplayer-pink;
}

.timebar-barbox {
    display: inline-block;
    height: 4px;
    background: $timebar-inactive;
    width: 13%;
    margin-right: 1%;
    vertical-align: top;
}
.timebar-barbox--live {
    width: 32%;
}

.timebar-barbox-active {
    background: $iplayer-pink;
}

.timebar-barbox-lastchance,
.timebar-barbox--live {
    background: $timebar-inactive;
}

    // webkit is the only prefix needed
@-webkit-keyframes lastchance {
    0% {background-color: $timebar-inactive;}
    50% {background-color: $iplayer-pink;}
    80% {background-color: $timebar-inactive;}
}
@keyframes lastchance {
    0% {background-color: $timebar-inactive;}
    50% {background-color: $iplayer-pink;}
    80% {background-color: $timebar-inactive;}
}
.timebar-barbox-lastchance,
.timebar-barbox--live {
    // webkit is the only prefix needed
    -webkit-animation: lastchance 3s infinite;
    animation:         lastchance 3s infinite;
}

.timebar-barbox--live:nth-child(2) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.timebar-barbox--live:nth-child(3) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
