svg.gelicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: baseline;
}

.gelicons-source {
    width: 0;
    height: 0;
    position: absolute;
    visibility: hidden;
    speak: none;
}

.gelicon--half-container {
    width: 50%;
    height: 50%;
    margin: 25%;
}

.gelicon--fill-container {
    width: 100%;
    height: 100%;
}

.gelicon--programme {
    width: $cta-minimum-size;
    height: $cta-minimum-size;
    // There is a bug in IOS9 that makes icons align left in their box
    // without the 0.1px top padding. Go Figure. If we no longer care
    // about IOS9, please fix to padding: 0 $icon-horizontal-padding;
    padding: 0.1px $icon-horizontal-padding;
}

svg.gelicon--canon,
svg.gelicon--trafalgar,
svg.gelicon--double-pica,
svg.gelicon--great-primer,
svg.gelicon--pica,
svg.gelicon--long-primer,
svg.gelicon--brevier,
svg.gelicon--minion,
svg.gelicon--body-copy {
    vertical-align: text-top;
}


.gelicon--leading {
    margin-right: $gel-unit-small;
}

.gelicon--trailing {
    margin-left: $gel-unit-small;
}

@each $class-name, $groups in $type-settings {
    $group: map-get($groups, 'group-a');

    .gelicon--#{$class-name} {
        width: nth($group, 1);
        height: nth($group, 1);
    }
}

@each $gel-group, $amen-mq in ('group-b': 'gel1b', 'group-d': 'gel3') {
    @include mq($from: $amen-mq) {
        @each $class-name, $groups in $type-settings {
            $group: map-get($groups, $gel-group);

            .gelicon--#{$class-name} {
                width: nth($group, 1);
                height: nth($group, 1);
            }
        }
    }
}
